@using CFLSuite.DataContracts.Models
@model ThrowModel

<div class="container-fluid">
    <div class="form-group">
        <div class="col-sm-4">
            @Html.LabelFor(m => m.ThrowingPlayerID)
        </div>
        <div class="col-sm-6">
            @(Html.Kendo().DropDownListFor(m => m.ThrowingPlayerID)
        .DataTextField("Name")
            .DataValueField("PlayerID")
            .OptionLabel("Select as player")
            .HtmlAttributes(new { @class = "form-control" })
            .DataSource(ds => ds.Read(r => r.Action("GetPlayers", "Player")))
            )
        </div>
    </div>
    <div class="form-group top-buffer">
        <div class="col-sm-4">
            @Html.LabelFor(m => m.ThrowTypeID)
        </div>
        <div class="col-sm-6">
            @(Html.Kendo().DropDownListFor(m => m.ThrowTypeID)
        .DataTextField("Description")
        .DataValueField("ThrowTypeID")
        .OptionLabel("Select a throw")
        .HtmlAttributes(new { @class = "form-control" })
        .DataSource(ds => ds.Read(r => r.Action("GetThrowTypes", "ThrowType")))
            )
        </div>
    </div>
    <div class="form-group top-buffer">
        <div class="col-sm-4">
            @Html.LabelFor(m => m.Success)
        </div>
        <div class="col-sm-6">
            @Html.Kendo().IntegerTextBoxFor(m => m.Success).Min(0)
        </div>
    </div>
    <div class="form-group top-buffer">
        <div class="col-sm-4">
            @Html.LabelFor(m => m.Notes)
        </div>
        <div class="col-sm-6">
            @Html.Kendo().TextBoxFor(m => m.Notes).HtmlAttributes(new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group top-buffer">
        <div class="col-sm-4">
            @Html.LabelFor(m => m.ReceivingPlayerID)
        </div>
        <div class="col-sm-6">
            @(Html.Kendo().DropDownListFor(m => m.ReceivingPlayerID)
        .DataTextField("Name")
            .DataValueField("PlayerID")
            .OptionLabel("Select as player")
            .HtmlAttributes(new { @class = "form-control" })
            .DataSource(ds => ds.Read(r => r.Action("GetPlayers", "Player")))
            )
        </div>
    </div>
</div>
