@using CFLSuite.DataContracts.Entities
@model Bet

    @using (Html.BeginForm("SaveBet", "Bet", FormMethod.Post, new { id = "addBetForm" }))
    {
            <div class="form-group">
                @Html.LabelFor(m => m.BetDateTimeStarted)
                @Html.Kendo().DateTimePickerFor(m => m.BetDateTimeStarted).HtmlAttributes(new { @class = "form-control"})
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ThrowTypeID)
                @Html.Kendo().TextBoxFor(m => m.ThrowTypeID).HtmlAttributes(new { @class = "form-control"})
            </div>
            <div class="form-group">
                @Html.Kendo().Button().Content("Save").Name("saveBet")
                @Html.Kendo().Button().Content("Cancel").Name("cancelBet").Events(e => e.Click("onCancelBet"))
            </div>
       
    }
