@using CFLSuite.DataContracts.Entities
@model Bet
@{
    ViewBag.Title = "Add Participants";
}

<h2>@ViewBag.Title</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-xs-6">
            @Html.LabelFor(m => m.BetStarted):
            @Html.DisplayFor(m => m.BetStarted)
        </div>
        <div class="col-xs-12 col-xs-6">
            @Html.LabelFor(m => m.Description):
            @Html.DisplayFor(m => m.Description)
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-xs-12">
            @Html.Partial("ParticipantPartial", Model)
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-xs-12 text-right">
            @Html.Kendo().Button().Name("redemptions").Content("Redemptions").Tag("a").HtmlAttributes(new { href = Url.Action("Index", "Redemption", new { betID = Model.BetID }) })
            @Html.Kendo().Button().Name("betSummary").Content("Bet Summary").Tag("a").HtmlAttributes(new { @class = "k-primary", href = Url.Action("BetSummary", "Bet", new { betID = Model.BetID})})
        </div>
    </div>

    <script id="throwGridTemplate" type="text/x-kendo-template">
        @(Html.Kendo().TabStrip()
            .Name("participantTabStrip_#=ParticipantID#")
            .Items(i =>
            {
                i.Add().LoadContentFrom(Url.Action("AddThrows", "Bet", new { id = "#=ParticipantID#" })).Selected(true).Text("Throws");
                i.Add().LoadContentFrom(Url.Action("AddPayouts", "Bet", new { id = "#=ParticipantID#" })).Text("Payouts");
            }).ToClientTemplate()
        )
    </script>

</div>
